*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Estedat_Body;
  /* font-size: 1.4rem;
  line-height: 1.7; */
}
:root {
  --Primary--Color: #417f56;
  --White--Header: #ffffff;
  --Header--icon--color: #e5f2e9;
  --Button--Deactive--Background: #ededed;
  --Button--Deactive--Color: #cbcbcb;
  --height-a: 72px;
  --height-b: 39px;
}
h2 {
  font-family: Estedat_H;
  font-size: 4rem;
  font-weight: 700;
}

.container {
  max-width: 1140px;
  margin: 3rem auto;
  /* border: 0.5px solid black; */
}

.button {
  font-family: Estedat_Button;
  font-size: 1.2rem;
  color: white;
  border-radius: 4px;
  padding: 0.8rem;
  min-width: 114px;
  background-color: var(--Primary--Color);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button2 {
  font-family: Estedat_Button;
  font-size: 1.2rem;
  color: white;
  border-radius: 4px;
  padding: 0.8rem;
  min-width: 114px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonDeactive {
  font-family: Estedat_Button;
  font-size: 1.2rem;
  color: var(--Button--Deactive--Color);
  border-radius: 4px;
  padding: 0.8rem;
  min-width: 114px;
  background-color: var(--Button--Deactive--Background);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
input[type="text"] {
  font-family: Estedat_Caption-lg;
  font-size: 1rem;
  border: #ffffff;
  width: 100%;
}

input[type="tel"]:focus {
  outline: none;
}
input[type="text"] {
  font-family: Estedat_Caption-lg;
  font-size: 1rem;
  border: #ffffff;
  width: 100%;
}

input[type="tel"]:focus {
  outline: none;
}
input::placeholder {
  text-align: right;
  font-family: Estedat_Body;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 5px;
  height: 5px;
  background-color: #adadad;
  border-radius: 50%;
}

/* LoginForm_Start */

.homePageContainer {
  display: grid;
}
.homePageContainer.show {
  overflow: hidden;
}
.homepage {
  grid-area: 1/1/2/2;
}
.homePageContainer.show .homepage {
  height: 100vh;
}
.Base-Transparent-wrapper {
  display: none;
}
.Base-Transparent-wrapper.show {
  grid-area: 1/1/2/2;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: grid;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}
.loginForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 2rem;
  height: 100%;
  width: 100%;
  border: 1px solid #cbcbcb;
  /* border-radius: 0.8rem; */
}
.loginForm.hide {
  display: none;
}
.loginForm--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  margin-bottom: 2rem;
}
.loginForm--header .header__close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8rem;
}
.header__img {
  flex: 2;
  text-align: center;
}
.loginForm--detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}
.loginForm--detail .detail__subject {
  font-size: 1.6rem;
  color: #353535;
  text-align: center;
}
.loginForm--detail .detail__txt {
  font-size: 1.2rem;
  color: #717171;
}
.loginForm--input {
  margin-bottom: 1rem;
}
.loginForm--input form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3rem;
}
.loginForm--input form .button {
  border: none;
}
.loginForm--input form input[type="tel"] {
  padding: 1rem 1.6rem;
  border: 1px solid #cbcbcb;
  border-radius: 0.8rem;
}
.loginForm--footer {
  font-size: 1rem;
  color: #353535;
  text-align: center;
}
.loginForm--footer a {
  color: var(--Primary--Color);
}
/* loginForm_End */

/*Header_Start*/
.Base-Transparent-wrapper {
  display: none;
}
header .container {
  margin-bottom: 0.5rem;
}
.Header__comboMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-area: sandwichMenu;
}

.Header_wrapper {
  padding: 0 1.6rem;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-areas: "sandwichMenu logo icon";
}

.Header_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: logo;
  /* width: 15%; */
}
.Header_logo img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.Header_icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: icon;
  /* width: 15%; */
}
.Icon_wrapper {
  height: 2rem;
  width: 2rem;
  background-color: var(--Header--icon--color);
  margin-left: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.Header_icon :nth-child(1).Icon_wrapper {
  display: none;
}

.Header_items {
  display: none;
}
.Header_item {
  margin-left: 2.4rem;
}
.Header_item div {
  border-bottom: 2px solid transparent;
}

.Header_item span.Header_item_arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 0.8rem; */
}
.header_item_wrapper {
  display: flex;
  flex-direction: row;
}
/*Header_End*/

/*ُSlider_Start*/
.slider {
  box-shadow: 0px 4px 4px #cbcbcb;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .Slider__Image {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
}
.Slider--Text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.Slider--Text__headline h2 {
  color: white;
  font-size: 1.6rem;
}
.Slider--Eclipse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 35px;
  background-image: url(/Assets/Images/Rectangle\ 2.png);
  background-position-x: center;
  background-position-y: bottom;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.Slider--Eclipse__pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 50px;
  align-items: center;
}
.active__page {
  width: 10px;
  height: 10px;
  background-color: var(--Primary--Color);
  border-radius: 50%;
}
.Slider--navigate {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: gold; */
}
.Slider--navigate .icon {
  width: 32px;
  height: auto;
}
/*ُSlider_End*/

/*ُMenu_Start*/
.menu.container {
  margin-bottom: 5rem;
}
.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}
.menu__searchBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  width: 80%;
}
.menu__wrapper input[type="text"] {
  font-family: Estedat_Caption-lg;
  font-size: 1rem;
  border: #ffffff;
  width: 100%;
}
/* .menu__searchBox:focus {
  border-color: var(--Primary--Color);
} */
.menu__searchBox input[type="text"]:focus {
  outline: none;
}
.menu__searchBox:focus-within {
  border-color: var(--Primary--Color);
}
.menu__title {
  margin: 1.5rem 0;
}
.menu__title h6 {
  font-family: Estedat_H;
  font-size: 1.6rem;
  color: #353535;
}
.menu__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 10rem;
  width: 100%;
  margin-top: 5rem;
}
.menu--item__Wrapper {
  border: 1px solid #417f56;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu--item__img {
  object-fit: cover;
  /* position: relative;
  top: calc((var(--height-a) / 2) * -1); */

  transform: translateY(calc((var(--height-a) / 2) * -1));
}
.menu--item__img img {
  border-radius: 1rem;
}
.menu--item__txt {
  /* position: relative;
  bottom: calc((var(--height-b) / 2) * -1); */
  transform: translateY(calc(var(--height-b) / 2));
}
/*ُMenu_End*/

/*ُAbout_Start*/
.about__img {
  display: grid;
}
.about__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.about__img__blackdiv {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
}
.about__img--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.img--text__col1 {
  color: white;
  display: flex;
  flex-direction: column;
}
.img--text__col1__header {
  font-family: Estedat_Overline-LG;
  font-size: 1.6rem;
}
.img--text__col1__body {
  font-family: Estedat_Caption-md;
  font-size: 1rem;
  text-align: justify;
}
.img--text__col1__btn {
  max-width: max-content;
  align-self: flex-end;
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img--text__col2__items {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}
.col2__item__txt {
  color: #ffffff;
}
.col2__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
/*ُAbout_End*/

/*ُBranches_Start*/
.branches--wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.branches--header {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.branches--details {
  display: flex;
  flex-direction: column;
}
.branches--details__item {
  display: flex;
  flex-direction: row;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  /* max-width: 300px;*/
  max-height: 300px;
  min-height: 90px;
  padding: 0 0 0 0.8;
  gap: 1.5rem;
  overflow: hidden;
}
.branches--details__item:not(:last-child) {
  margin-bottom: 2rem;
}
.branches--details__item:hover {
  border-color: var(--Primary--Color);
}
.item__pic {
  /* flex-basis: 200px; */
  position: relative;
}
.item__pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: left bottom;
}
.item__pic__locationicon {
  position: absolute;
  top: 0;
  left: 0;
}
.item__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0.5rem;
  flex: 1 0 150px;
  gap: 0.5rem;
  align-self: center;
}
.item__txt__header {
  font-size: 1.4rem;
}
.item__txt__add {
  font-size: 1rem;
}
.item__btn {
  display: none;
}
.item__pic__activedDiv {
  display: none;
}
/*ُBranches_End*/

/* Footer_Start */
.footer--wrapper {
  display: grid;
}
.footer--img {
  grid-area: 1/1/2/2;
}
.footer--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer--darklayer {
  grid-area: 1/1/2/2;
  background: #000000bf;
}
.footer--columns {
  color: white;
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 2rem;
  flex-wrap: wrap;
}
.col__header {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.col__body {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col__body ul > li {
  margin-bottom: 0.5rem;
}
.col__body ul > :last-child.col__body__icon {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}
.col__body__icon .icon {
  width: 2rem;
  height: 2rem;
}
.footer--col__form {
  display: none;
}
.loginform--ConfirmOTP.hide {
  display: none;
}
.ConfirmOTP--body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ConfirmOTP--body form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ConfirmOTP--body > span:first-child {
  color: #353535;
  font-family: Estedat_Body;
  font-size: 1.6rem;
}
.ConfirmOTP--body > span:nth-child(2) {
  color: #717171;
  font-family: Estedat_Body;
  font-size: 1.2rem;
}
.ConfirmOTP--body form > input {
  border: 1px solid #353535;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  width: 56px;
  height: 40px;
  outline: none;
  text-align: center;
}
.otpInput.wrongotp {
  border-color: red;
}
.ConfirmOTP--body form > input:focus {
  border: 1px solid var(--Primary--Color);
  text-align: center;
}
.ConfirmOTP--body form > input:not(:last-child) {
  margin-left: 0.5rem;
}
.ConfirmOTP--body__countdown__editnum {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.ConfirmOTP--body__countdown {
  display: flex;
}
.ConfirmOTP--body__countdown > span {
  margin-left: 0.5rem;
  font-family: Estedat_Body;
  color: #717171;
}
.ConfirmOTP--body__countdown :nth-child(2) {
  color: var(--Primary--Color);
}
.ConfirmOTP--body__editnum {
  font-family: Estedat_Body;
  color: #717171;
}
.ConfirmOTP--footer {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.ConfirmOTP--footer button {
  border: none;
  width: 100%;
}
/* Footer_End */
@media screen and (min-width: 480px) {
  .loginForm {
    width: auto;
    height: auto;
    border-radius: 0.8rem;
  }
  /* .loginform--ConfirmOTP.loginForm {
    display: flex;
  } */
  .loginForm--header {
    flex-direction: row;
    flex-direction: row-reverse;
  }
  .loginForm--header .header__close {
    margin-bottom: 0;
  }

  .loginForm--input form {
    margin-bottom: 0;
  }
  .Base-Transparent-wrapper.show {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .button {
    /* font-family: Estedat_Button; */
    font-size: 1.6rem;
    /* color: white; */
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    /* display: inline; */
    /* background-color: var(--Primary--Color); */
  }
  .buttonDeactive {
    /* font-family: Estedat_Button; */
    font-size: 1.6rem;
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    /* display: inline; */
  }
  .Header_wrapper {
    grid-template-areas: "logo items icon";
    grid-template-columns: 15% 1fr 10%;
    justify-items: center;
    align-items: center;
  }
  .Header_items {
    grid-area: items;
    display: block;
    font-size: 1.8rem;
  }
  .Header_items {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
  }
  .Header__comboMenu {
    display: none;
  }
  .Header_items li:hover .Header_item_txt {
    color: var(--Primary--Color);
    border-bottom: 2px solid var(--Primary--Color);
  }
  .Header_item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .Header_item.show .header_item_wrapper .Header_item_txt {
    color: var(--Primary--Color);
  }
  .Header_item.show .header_item_wrapper .Header_item_arrow {
    transform: rotate(180deg);
  }
  .Header_item_dropdown {
    display: none;
  }
  .Header_item.show .Header_item_dropdown {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 0.8rem;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: white;
    width: 200px;
    padding: 1rem 1.5rem;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.15));
    margin-top: 1rem;
  }
  .Header_item_dropdown > li {
    color: #353535;
    font-size: 1.4rem;
    width: 100%;
  }
  .Header_item_dropdown :not(:last-child) {
    border-bottom: 1px solid #ededed;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .Slider--Text__headline h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 801px) {
  .footer--col__form {
    align-items: center;
  }
  .footer--columns {
    gap: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .branches--wrapper {
    align-items: normal;
  }
  .branches--details {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));

    gap: 2rem;
    justify-content: center;
  }

  .branches--details__item {
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    height: 100%;
    border-radius: 0.8rem;
    gap: 0.5rem;
  }
  .branches--details__item.active {
    box-shadow: 0px 16px 6px rgba(0, 0, 0, 0.01),
      0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09),
      0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .branches--details__item:not(:last-child) {
    margin-bottom: 0;
  }
  .item__txt__header {
    font-size: 2rem;
  }
  .item__txt__add {
    font-size: 1.4rem;
  }
  .item__txt {
    flex: 0 1 auto;
    padding: 1.5rem 1.5rem;
    text-align: center;
    margin-top: -2rem;
  }
  .item__pic {
    flex: 0 1 220px;
    display: grid;
    width: 100%;
    overflow: hidden;
  }
  .branches--header {
    text-align: center;
  }
  .item__btn {
    display: none;
  }
  .item__btn svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .active .item__btn {
    background-color: #ffffff;
    color: var(--Primary--Color);
    border: 1px solid var(--Primary--Color);
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    /* display: block; */
  }
  .item__pic__activedDiv {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    grid-area: 1/1/2/2;
    display: none;
  }

  .active .item__pic__activedDiv {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .active .item__pic__activedDiv .first {
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: 0.3;
    border-radius: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid black;
    justify-self: center;
    grid-area: 1/1/2/2;
  }
  .active .item__pic__activedDiv .second {
    width: 32px;
    height: 32px;
    background-color: white;
    opacity: 0.2;
    border-radius: 100%;
    border: 1px solid black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    justify-self: center;
    grid-area: 1/1/2/2;
  }
  .active .item__pic__activedDiv .third {
    grid-area: 1/1/2/2;
    justify-self: center;
  }
  .branches--details__item.active picture {
    grid-area: 1/1/2/2;
  }
  .branches--details__item.active span {
    grid-area: 1/1/2/2;
  }
  .col__header {
    font-size: 2rem;
  }
  .col__body {
    font-size: 1.4rem;
  }
  .col__body ul > li {
    margin-bottom: 2rem;
  }
  .footer--col__form {
    display: flex;
    flex-direction: column;
  }
  .col__body form {
    display: grid;
    grid-template-areas:
      "txt msg"
      ". btn";
    gap: 1.5rem;
  }
  .footer--col__form .col__body form .form__txt,
  .form__msg {
    display: flex;
    flex-direction: column;
  }
  .form__txt input,
  .form__msg textarea {
    /* min-height: 40px; */
    border-radius: 0.4rem;
    padding: 0.8rem;
    font-family: Estedat_Body;
    background-color: transparent;
    color: white;
    border: 1px solid #cbcbcb;
    outline: none;
    height: 100%;
  }
  .form__msg textarea {
    resize: none;
    /* max-height: 150px; */
  }

  .form__txt :not(:last-child) {
    margin-bottom: 1rem;
  }
  .form__txt input::placeholder {
    text-align: right;
  }
  .form__msg textarea::placeholder {
    text-align: start;
    font-family: Estedat_Body;
  }
  .col__body form button {
    grid-area: btn;
    justify-self: end;
    background-color: transparent;
    border-radius: 0.4rem;
    padding: 0.4rem 6.4rem;
    border: 1px solid #cbcbcb;
  }
}

@media screen and (min-width: 800px) {
}
@media screen and (min-width: 768px) {
  .Header_icon :nth-child(1).Icon_wrapper {
    display: flex;
  }
  .menu__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    bottom: calc((var(--height-b) / 2) * -1);
    grid-template-rows: none;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-column-gap: 2rem; */
    /* grid-row-gap: 7rem; */
    /* width: 100%; */
    /* margin-top: 5rem; */
  }
  .menu__searchBox {
    display: none;
  }
  .about__img--text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .img--text__col1__header {
    font-size: 2.4rem;
  }
  .img--text__col1__body {
    font-size: 1.4rem;
    text-align: justify;
  }
  .img--text__col1__btn {
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
  }
  .col2__item__txt {
    font-size: 1.4rem;
  }
  .img--text__col2__items {
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    justify-self: center;
    /* align-self: center; */
    gap: rem;
    /* margin-top: 5rem; */
  }
  .about__img__blackdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 825px) and (max-width: 1094px) {
  /* .branches--details {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .branches--details__item {
    flex: 0 0 200px;
  } */
  /* .branches--details {
    grid-template-areas:
      ". . ."
      ". emp .";
  }
  .branches--details :last-child.branches--details__item {
    grid-area: emp;
  } */
}
