<header style="font-size: 1.8rem">
  <div class="container">
    <div class="Header_wrapper">
      <div class="Header_logo">
        <div>
          <img src="./Assets/Images/Header_logo.svg" alt="Header_logo" />
        </div>
      </div>
      <div class="text">
        <ul class="Header_items">
          <li class="Header_item">صفحه اصلی</li>
          <li class="Header_item header_item_wrapper">
            <div>شعبه</div>
            <span class="Header_item_arrow"
              ><svg style="display: none" class="icon">
                <use href="./Assets/Images/svg-sprite.svg#menu"></use></svg
            ></span>
          </li>
          <li class="Header_item header_item_wrapper">
            <div>منو</div>
            <span class="Header_item_arrow">
              <svg class="icon">
                <use href="./Assets/Images/svg-sprite.svg#arrow-down"></use>
              </svg>
            </span>
          </li>
          <li class="Header_item">اعطای نمایندگی</li>
          <li class="Header_item">درباره ما</li>
          <li class="Header_item">تماس با ما</li>
        </ul>
      </div>
      <div class="Header_icon">
        <div class="Icon_wrapper">
          <span
            ><svg class="icon">
              <use href="./Assets/Images/svg-sprite.svg#search"></use></svg
          ></span>
        </div>
        <div class="Icon_wrapper">
          <span
            ><svg class="icon">
              <use href="./Assets/Images/svg-sprite.svg#bag-happy"></use></svg
          ></span>
        </div>
        <div class="Icon_wrapper">
          <span
            ><svg class="icon">
              <use href="./Assets/Images/svg-sprite.svg#user-frame"></use></svg
          ></span>
        </div>
      </div>
    </div>
  </div>
</header>
